{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}
{% load humanize %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Staff Bonus</h4>
            <p>Bonus: <i>₦{{bonus.bonus|intcomma }} for {{ bonus.staff|title }} in {{bonus.date|date:"M Y"}}</i></p>

            <p>The Bonus will be permanently deleted.</p>
            <form style="display:inline" method="post">
                {% csrf_token %}

                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'staff_bonus_index' %}"> Cancel</a>
        </div>
    </div>
</div>
{% endblock %}