{% extends 'admin_site/layout.html' %}
{% block 'main' %}
{% load static %}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">UPDATE CUSTOMER
                    <button class="btn btn-sm btn-danger" onclick="window.history.back()" style="float:right"><i
                            class="bi bi-arrow-left"></i>
                        Back
                    </button>
                </h4>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% if form.errors %}
                <div class="alert alert-danger mb-3">
                    <h5 class="text-danger">Please correct the following errors:</h5>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|capfirst }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                   <br>
                {% endif %}
                <form action="" class="row g-3 needs-validation" enctype="multipart/form-data" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 row">
                            <div class="form-group col-md-6">
                                <div class="form-floating mb-3">
                                    {{ form.full_name }}
                                    <label for="floatingName">Business/Fullname <span class="text-danger">*</span></label>
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-floating mb-3 ">
                                    {{ form.mobile }}
                                    <label for="floatingName">Phone Number <span class="text-danger">*</span></label>
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-floating mb-3">
                                    {{ form.email }}
                                    <label for="floatingName">Email <span class="text-danger"></span></label>
                                </div>

                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-floating mb-3">
                                    {{ form.address }}
                                    <label for="floatingName">Business Address <span class="text-danger">*</span></label>
                                </div>

                            </div>


                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br/>
                            <button class="btn btn-primary btn-rounded" type="submit" style="width:150px;margin:10px">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{%endblock %}